<div class="flexbox-content">
  <%= image_tag "laura.png", class: "animated-gif hidden" %>
  <%= cl_image_tag("#{@gage.photo}", class: "gif hidden")%>
  <h1 class="postit hidden"><%= @gage.name %></h1>
  <%= audio_tag "#{@gage.audio}", class: "song hidden" %>
  <%= audio_tag "roulette.mp3", class: "roulette" %>
</div>
