<div class="flexbox-content">
    <%= image_tag "giphy21.gif", class: "animated-gif hidden" %>
    <%= image_tag "giphy.gif", class: "animated-gif hidden" %>
    <%= image_tag "giphy1.gif", class: "animated-gif hidden" %>
    <%= image_tag "giphy2.gif", class: "animated-gif hidden" %>
  <div class="circle">
    <div class="text">Bizuter Laura !</div>
  </div>
</div>
<%= audio_tag "JOTI.mp3", class: "test" %>
<%= audio_tag "PP.mp3", class: "test" %>
<%= audio_tag "PQTME.mp3", class: "test" %>
<%= audio_tag "RM.mp3", class: "test" %>
<%= audio_tag "SLV.mp3", class: "test" %>
<%= audio_tag "EUS.mp3", class: "test" %>

